.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 96%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #f8f9fa;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    font-family: var(--primary-font);
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.company-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 0.5rem;
    color: #333;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.nav-links li {
    font-size: 1rem;
    color: #333;
    cursor: pointer;
}

.nav-links li:hover {
    color: #007bff;
    text-decoration: underline;
}

body {
    margin: 0;
    padding-top: 80px;
}