.product-page {
    position: relative;
    display: grid;
    /* Use grid layout */
    grid-template-columns: 1fr 1fr;
    /* Divide the container into two equal columns */
    width: 100%;
    height: 100vh;
    /* Full viewport height */
    font-family: "Roboto", sans-serif;
    color: white;
    transition: all 0.3s ease-in-out;
    gap: 0;
    /* Ensure no gaps between columns */
}

.product-page.full-screen .background-video {
    width: 100vw;
    height: 100vh;
    object-fit: contain;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

.projecttextcontainer {
    display: flex;
    justify-content: center;
    /* Center content horizontally */
    align-items: center;
    /* Center content vertically */
    padding: 20px;
}

.product-card {
    color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 90%;
    text-align: center;
}

.product-card h1 {
    font-size: 3.5rem;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 15px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.product-card p {
    font-size: 1.6rem;
    color: #d0d0d0;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.projectvideocontainer {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-video {
    width: 100%;
    /* 50% of the grid cell */
    height: 100%;
    object-fit: contain;
    z-index: 1;
    cursor: pointer;
}

.product-content-wrapper {
    position: relative;
    z-index: 2;
    padding: 20px;
    border-radius: 10px;
    max-width: 1200px;
    margin: auto;
}


/* Responsive Adjustments */

@media (max-width: 768px) {
    .product-page {
        grid-template-columns: 1fr;
        /* Stack video and text vertically on smaller screens */
    }
    .background-video {
        width: 100%;
        /* Video takes full width on small screens */
        height: 50%;
        /* Half the screen height for video */
    }
    .product-card {
        width: 100%;
        /* Text takes full width on small screens */
        height: 50%;
        /* Half the screen height for text */
        padding: 0px 15px;
    }
    .product-card h1 {
        font-size: 2rem;
        /* Scale down heading */
    }
    .product-card p {
        font-size: 1.1rem;
        /* Scale down subtitle */
    }
    .projecttextcontainer {
        padding: 0;
    }
    .background-video {
        object-fit: contain;
        /* Keep video fully covering */
    }
    .product-page.full-screen .background-video {
        width: 100%;
        /* 50% of the grid cell */
        height: 100%;
        object-fit: contain;
        z-index: 1;
        cursor: pointer;
    }
}